body {
}

header {
  background-color: #0066ff;
  color: #FFF;
  height: 55px;
  text-align: center;
  font-size: 50px;
  width: 100%;
  position: fixed;
  border-bottom: 5px solid #FFF;
  z-index: 1;
  margin-bottom: 10px;
}


footer {
  background-color: blue;
}

.container {
  /*min-width: 320px;*/
}

main {
  font-size: 20px;
  position: absolute;
  width: 100%;
}

div.wrapper {
  position: relative;
  top: 60px;
}

.arimo {
  font-family: 'Arimo', sans-serif;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}



.row {
  /*padding: 25px 20px;*/
}

li.row {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr;
  /*height: 150%;*/
}

.left-col {
  grid-column-start: 1;
  grid-column-end: 2;
}

.mid-col {
  grid-column-start: 2;
  grid-column-start: 3;
}

.rows-2 {
  grid-row-start: 1;
  grid-row-end: 2;
}

.margin-left-20 {
  margin-left: 20px;
}

.pad-top-5 {
  padding-top: 5px;
}
.pad-top-10 {
  padding-top: 10px;
}

.pad-top-15 {
  padding-top: 15px;
}

.pad-top-20 {
  padding-top: 20px;
}

.pad-top-25 {
  padding-top: 25px;
}

.pad-right-10 {
  padding-right: 10px;
}

.pad-right-20 {
  padding-right: 20px;
}

.pad-left-20 {
  padding-left: 20px;
}

.pad-bottom-5 {
  padding-bottom: 5px;
}

li:nth-child(odd) {
  background-color: #FFF;
}

li:nth-child(even) {
  background-color: #cce6ff;
  }

.price-up {
  background-color: green;
  color: #FFF;
}

.price-down {
  background-color: #cc2900;
  color: #FFF;
}


.row {
  border-bottom: 2px solid  #e6e6e6;
}

.bold {
  font-weight: bold;
}

.align-right {
  text-align: right;
}

.font-large {
  font-size: 100%;
}

.font-med {
  font-size: 75%;
}

.font-small {
  font-size: 50%;
}