body {

}

header {
  background-color: blue;
}

main {
  background-color: #e6ffcc;
  font-size: 30px;
}

footer {
  background-color: blue;
}

li {
  
}

li:nth-child(odd) {
    background-color: #FFF;
}
li:nth-child(even) {
    background-color: #ccffcc;
}


.row {
  border-bottom: 3px solid #595959;
}

.font-large {

}

.font-small {
  font-size: 50%;
}