body {

}

header {
  background-color: blue;
}

main {
  background-color: #e6ffcc;
  font-size: 70px;
}

.wrapper li.row {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr;
}

.left-col {
  grid-column-start: 1;
  grid-column-end: 2;
}

.mid-col {
  grid-column-start: 2;
  grid-column-start: 3;
}

.rows-2 {
  grid-row-start: 1;
  grid-row-end: 2;
}


footer {
  background-color: blue;
}

li {
}

.pad-top-10 {
  padding-top: 10px;
}

.pad-top-20 {
  padding-top: 20px;
}

.pad-right-10 {
  padding-right: 10px;
}

.pad-right-20 {
  padding-right: 20px;
}

li:nth-child(odd) {
    background-color: #FFF;
}
li:nth-child(even) {
    background-color: #ccffcc;
}


.row {
  border-bottom: 3px solid #595959;
}

.bold {
  font-weight: bold;
}

.align-right {
  text-align: right;
}

.font-large {
  font-size: 100%;
}

.font-med {
  font-size: 75%;
}

.font-small {
  font-size: 50%;
}